#ledger {
  border: 2px solid black;
  padding: 5px;
  tr:nth-child(2n) {
    background-color: #cccccc;
  }
}

td {
  min-width: 80px;
  padding:3px;
  text-align: center;
}

tr {
  border-bottom: 2px;
}

.deposit-amt {
  color: green;
}

.withdraw-amt {
  color: red;
}

.pos-balance {
  color: black;
}

.fee-amt {
  color: blue;
}
